*.log
config.sub
config.cache
config.guess
configure
ltconfig
ltmain.sh
Makefile
Makefile.in
aclocal.m4
libtool.m4
lt*.m4
config.status
config.h
libtool
stamp-h*
libast.spec
config.h.in
missing
mkinstalldirs
install-sh
Eterm*.tar.gz
*.sddf
Makefile
Makefile.in
.deps
.libs
lib*.la
*.da
*.lo
*.o
autom4te*
depcomp
*.orig
*.rej
*~
doc/Eterm.1
doc/Eterm.1.html
doc/Eterm.tcap
src/Eterm
themes/*/theme.cfg
utils/Esetroot
utils/Etbg
utils/Ettable
utils/kEsetroot
