Source: eterm
Section: x11
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 2.5.0.0

Package: eterm
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightened Terminal Emulator (ala xterm) with Imlib support
 A terminal emulator in the spirit of xterm or rxvt.  However this one differs
 in that it uses an Enlightenment style config file, as well as themes.  The
 Imlib graphics engine is used to render images.  This version supports
 background images, pixmap shading/tinting, and pseudo-transparency.
 Eterm also now uses libpthreads.

