#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=1
pwd:=$(shell pwd)

cfg = --mandir=$(pwd)/tmp/usr/share/man --enable-fsstd \
  --enable-xim --with-backspace=del --with-delete=execute

build: build-stamp
build-stamp:
	dh_testdir

	./autogen.sh ${cfg}

	install -d debian/pmt/

	# because glibc 2.1's utmpx.h is incompatible on sparc
	sed 's/#define HAVE_UTMPX_H 1/\/* #undef HAVE_UTMPX_H *\//' config.h > debian/pmt/config.h
	cp debian/pmt/config.h config.h

	# fix rpath issues
	cp libtool debian/pmt/libtool
	sed \
	-e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec="-D__LIBTOOL_IS_A_FOOL__ "/' \
	-e '/^archive_cmds="/s/"$$/ \\$$deplibs"/' debian/pmt/libtool > libtool
	$(MAKE)
	touch debian/pmt/$@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp config.cache

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	-rm -rf debian/pmt/

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	$(MAKE) install prefix=$(pwd)/debian/tmp/usr
	install -d $(pwd)/debian/tmp/usr/share/doc/eterm
	install $(pwd)/ChangeLog $(pwd)/debian/tmp/usr/share/doc/eterm


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	#dh_testversion 2
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
#	dh_installcron
	dh_installmanpages
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	# You may want to make some executables suid here.
#	dh_suidregister
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
