#!/usr/bin/make -f

export DH_COMPAT=2

vpath build debian/pmt/
vpath install debian/pmt/
cfg = --prefix=/usr --mandir=/usr/share/man
pwd := $(shell pwd)

build:
	dh_testdir
	test -x autogen.sh && ./autogen.sh $(cfg)  || ./configure $(cfg)

	install -d debian/pmt/

	# because glibc 2.1's utmpx.h is incompatible on sparc
	sed 's/#define HAVE_UTMPX_H 1/\/* #undef HAVE_UTMPX_H *\//' config.h > debian/pmt/config.h
	cp debian/pmt/config.h config.h

	# fix rpath issues
	cp libtool debian/pmt/libtool
	sed \
	-e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec="-D__LIBTOOL_IS_A_FOOL__ "/' \
	-e '/^archive_cmds="/s/"$$/ \\$$deplibs"/' debian/pmt/libtool > libtool
	$(MAKE)
	touch debian/pmt/$@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) -k distclean clean
	rm -rvf debian/pmt/
	dh_clean

install: build
	dh_testdir 
	dh_testroot 
	dh_clean 
	dh_installdirs 
	$(MAKE) install DESTDIR=$(pwd)/debian/eterm
	touch debian/pmt/$@

binary-arch: build install
	dh_testdir 
	dh_testroot 
	dh_installdocs README ReleaseNotes doc/{Eterm.tcap,Eterm.ti,Eterm_reference.html}
	dh_installmenu 
	dh_undocumented  Esetroot.1 Etbg.1 Etcolors.1 Ettable.1 Etwinop.1
	dh_installchangelogs 
	dh_strip 
	dh_compress 
	dh_fixperms 
	dh_suidregister usr/bin/Eterm
	dh_installdeb 
	dh_makeshlibs
	dh_shlibdeps -l$(pwd)/debian/Eterm/usr/lib 
	dh_gencontrol 
	dh_md5sums 
	dh_builddeb 

binary-indep:

binary: binary-arch

.PHONY: clean binary-indep binary-arch binary
